.main {
  font-family: 'Inter', sans-serif;
  background-color: #FFFEFC;
}

/* start Inherit */
section, footer {
  margin: 0 140px;
}

.button {
  line-height: 36px;
  background-color: #E16259;
  border: 1px solid #BE5643;
  box-sizing: border-box;
  width: 150px;
  text-align: center;
  height: 40px;
}

.button a, .button button {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.newsletter {
  display: inline-flex;
}

.newsletter-box::placeholder {
  font-size: 14px;
}

.newsletter .newsletter-box {
  border: 1px solid #ECECEC;
  margin-right: 10px;
  width: 260px;
  padding: 0 24px;
  opacity: 0.4;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.container-right {
  display: inline-flex;
}

.container-right .col-1 {
  width: 34%;
}

.container-right .col-2 {
  width: 56%;
  margin-left: 112px;
}

.container-left {
  display: inline-flex;
}

.container-left .col-1 {
  width: 56%;
  margin-right: 112px;
}

.container-left .col-2 {
  width: 34%;
}

/* End Inherit */

.main-header {
  width: 100%;
  height: 50px;
  display: block;
  margin-bottom: 52px;
}

.main-header-container {
  float: right;
  margin-right: 60px;
  margin-top: 5px;
}

.main-header__title {
  margin-left: 60px;
  line-height: 50px;
  font-weight: bold;
  font-size: 24px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 600px;
  margin-bottom: 212px;
}

.main-section__title {
  font-weight: bold;
  font-size: 54px;
  margin-bottom: 12px;
}

.main-section__subtitle {
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 24px;
}

.main-section__excerpt {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 12px;
}

.main-section-info {
  height: 400px;
  margin-bottom: 212px;
}

.main-section-info .container-right {
  width: 100%;
}

.main-section-info:not(.main-section-info.container-center) {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px
}

.main-section-info__title-center {
  margin-top: 0;
}

.main-section-info h2 {
  font-size: 36px;
}

.main-section-info .offFocus {
  font-weight: 200;
  font-size: 36px;
}

.main-section-info p {
  font-size: 16px;
  font-weight: 200;
  opacity: 0.6;
}

.main-section-info p span {
  font-weight: 700;
}

.main-footer {
  text-align: center;
}

.main-footer__title {
  margin-bottom: 48px;
  font-size: 36px;
}

.main-footer .newsletter {
  margin-bottom: 212px;
}

.main-footer__copyrigth {
  margin-bottom: 92px;
  font-size: 18px;
  opacity: 0.6;
}
