.main {
  font-family: "Inter", sans-serif;
  background-color: #fffefc;
  margin: 0;
}

h2 {
  font-size: 36px;
}

/* Start Inherit */
.offFocus {
  font-weight: 200;
  font-size: 36px;
}

.button {
  line-height: 36px;
  background-color: #e16259;
  border: 1px solid #be5643;
  box-sizing: border-box;
  text-align: center;
  height: 40px;
}

.button a,
.button button {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.newsletter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 100px;
}

.newsletter-box::placeholder {
  font-size: 14px;
}

.newsletter .newsletter-box {
  border: 1px solid #ececec;
  margin-right: 10px;
  width: 260px;
  padding: 0 24px;
  opacity: 0.4;
  height: 40px;
}

.newsletter .button {
  width: 150px;
}

.col-1 {
  width: 34%;
}

.col-2 {
  width: 56%;
}

.container-left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.container-left .col-2 {
  margin-right: 112px;
}

/* End Inherit */

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 52px;
}

.main-header-container {
  margin-right: 60px;
  margin-top: 5px;
}

.main-header-container.button {
  width: 150px;
}

.main-header__title {
  margin-left: 60px;
  line-height: 50px;
  font-weight: bold;
  font-size: 24px;
}

.wrapper {
  margin: 0 144px;
}

.main-section,
.main-section-color,
.main-section-multi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 154px;
  text-align: center;
  margin-top: 186px;
}

.main-section,
.main-section-multi {
  height: 500px;
}

.main-section-color {
  height: 450px;
}

.maing-section__img {
  width: 458px;
  height: 310px;
}

.main-section__title {
  font-weight: bold;
  font-size: 54px;
  margin-bottom: 12px;
}

.main-section__subtitle {
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 24px;
}

.main-section__excerpt {
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 12px;
}

.main-section-color {
  background-color: #f4f0e8;
}

.main-section-color__container {
  margin: 20px 300px;
}

.main-section-color__container p {
  opacity: 0.6;
}

.main-section-multi__imgCalidad2 {
  width: 393.56px;
  height: 240px;
}

.main-section-multi p {
  font-size: 18px;
  opacity: 0.6;
  width: 59%;
}

.main-section-info {
  height: 400px;
  margin-bottom: 186px;
}

.main-section-info__imgPeople {
  width: 351px;
  height: 240px;
}

.main-section-info .container-right {
  width: 100%;
}

.main-section-info__firstManga {
  text-align: center;
}

.container-center.offMobile {
  display: flex;
}

.container-center.mobile {
  display: none;
}

.main-section-info__title-center {
  margin-top: 0;
}

.main-section-info p {
  font-size: 18px;
  font-weight: 200;
  opacity: 0.6;
}

.main-section-info p span {
  font-weight: 700;
}

.main-section-info__imgProtection {
  width: 351px;
  height: 240px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-footer__title {
  margin-bottom: 48px;
  font-size: 36px;
  text-align: center;
}

.main-footer .newsletter {
  margin-bottom: 212px;
}

.main-footer__copyrigth {
  margin-bottom: 92px;
  font-size: 18px;
  opacity: 0.6;
}
