@media only screen and (max-width: 780px) and (min-width: 320px) {
  .wrapper {
    margin: 0 15px;
  }

  .newsletter {
    flex-direction: column;
    width: 100%;
  }

  .newsletter .newsletter-box {
    margin: 0 0 10px 0;
    width: 96%;
    padding: 0 0 0 15px;
  }

  .newsletter .button {
    width: 100%;
  }

  .container-left {
    flex-direction: column;
  }

  .container-left .col-1 {
    width: 100%;
    margin-left: 0;
  }

  .container-left .col-2 {
    width: 100%;
    margin-right: 0;
  }

  .main-header__title {
    margin-left: 15px;
    font-size: 18px;
  }

  .main-header-container {
    margin-right: 15px;
  }

  .main-section,
  .main-section-info {
    margin-bottom: 0px;
  }

  .main-section__title {
    font-size: 36px;
  }

  .main-section__subtitle {
    font-size: 18px;
  }

  .main-section-info h2 {
    text-align: center;
  }

  .main-section-info .col-1 {
    text-align: center;
  }

  .main-footer__title {
    text-align: center;
  }

  .maing-section__img,
  .main-section-info__imgPeople,
  .main-section-multi__imgCalidad2,
  .main-section-info__imgProtection {
    width: 80%;
  }

  p {
    text-align: justify;
  }

  .main-section-color__container {
    margin: 20px;
  }

  .main-section-color {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .main-section-multi {
    margin-bottom: 100px;
  }

  .main-section-multi p {
    width: 100%;
  }

  .section-protection {
    margin-bottom: 100px;
    height: 600px;
  }
}
