@media only screen and (max-width: 1440px) and (min-width: 780px) {
  .wrapper {
    margin: 0 128px;
  }

  .container-right .col-1 {
    flex: 1;
    margin-right: 5%;
  }

  .container-right .col-2 {
    flex: 2;
  }

  .main-section__title {
    font-size: 48px;
  }
}
